 h1
 {
 	color: darkblue;
 }

 body
 {
 	background-color: darkred;
 }

 #carte
 {
     width:800px;
     margin:0 auto;
     background-color: white;
     text-align: center;
     align-content: center;
 }