 h1
 {
 	color:pink;
 }	


 body
 {
 	background-color: mediumvioletred;
 }

 #carte
 {
 	width:800px;
 	margin:0 auto;
 	background-color: white;
 	text-align: center;
 	align-content: center;
 }