h1
{
color: black;
}
text-align:center;
front-size:75px;
font-family: courrier new
<link rel="stylesheet" href="style.css">

{
width: 800px;
margin:0 auto;
background-color: white;
text-align: center;
align-content: center;
}
